@import "./colors";

.leaflet-control-attribution {
  display: none;
}

.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.place,
.place-label {
  fill: red;
}

.header_title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  pointer-events: none;
  text-align: left;
  text-transform: capitalize;
  font-weight: bold;
}

.legend-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  pointer-events: none;
  text-align: left;
  text-transform: capitalize;
  font-weight: bold;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 18px;
  padding: 2px;
  font: 10px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.margin { 
margin-left: 7px;
}

.filter-map-data-component {
  margin-bottom: 10px;
}

.filter-map-data-component-year-selector {
  margin-right: 1px;
  margin-bottom: 5px;
}

.filter-map-data-component-provinces-selector {
  margin-right: 1px;
  margin-bottom: 5px;
}

.center {
  margin: 0 auto;;
}

.button{
  margin-left: 5pt;
  margin-top: 5pt;
}

.my-legend .legend-title {
  font-weight: bold;
  font-size: 90%;
  float: left;
}

.my-legend .legend-scale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}

.my-legend .legend-scale ul li {
  margin-top: 10px;
  display: block;
  float: left;
  width: 65px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 65%;
  list-style: none;
}

.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 10px;
  width: 65px;
}

.my-legend .legend-source {
  font-size: 80%;
  color: #999;
  clear: both;
}

.my-legend a {
  color: #777;
}

.react-bootstrap-table-container {
  font-size: 80%;
}

.legendss {
  font-size: 70%;
  fill: hsl($provinces-text-name-color, 90%, 35%);
}

svg {
  background-color: hsl($svg-background-color, 0%, 96%);
  border-radius: 10px;
}
